.lafabrik-section {
  background: #fff;
  padding: 80px 0 40px 0;
  text-align: center;
}
.lafabrik-header {
  max-width: 350px;
  margin: 0 auto 30px auto;
  display: block;
}
.lafabrik-title {
  color: #cc1f4a;
  font-size: var(--font-size-h3);
  font-weight: bold;
  margin-bottom: 12px;
}
.lafabrik-desc {
  max-width: 800px;
  margin: 0 auto 32px auto;
  color: #222;
  font-size: var(--font-size-body);
}
.lafabrik-cards {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 32px;
}
.lafabrik-card {
  background: #fff;
  border-radius: 18px;
  padding: 28px 14px 18px 14px;
  flex: 1 1 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lafabrik-card img {
  width: 241px;
  margin-bottom: 22px;
}
.lafabrik-card h3 {
  color: #cc1f4a;
  font-size: var(--font-size-h3);
  margin-bottom: 8px;
}
.lafabrik-card p {
  color: #444;
  font-size: 1.05rem;
  margin: 0;
  text-align: center;
}
.lafabrik-card .smallText {
  margin-top: 0.8rem;
  font-size: 13px;
  color: #7e7e7e;
  text-align: center;
}
@media (max-width: 1280px) {
  .lafabrik-section {
    padding: 60px 20px 30px;
  }
  .lafabrik-cards {
    gap: 20px;
  }
  .lafabrik-card {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
}
@media (max-width: 918px) {
  .lafabrik-section {
    padding: 40px 20px 20px;
  }
  .lafabrik-header {
    max-width: 250px;
  }
  .lafabrik-cards > div {
    flex: 0 0 50%;
  }
  .lafabrik-card {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  .lafabrik-card img {
    width: 180px;
  }
  .lafabrik-card p {
    font-size: 0.9rem;
  }
}
@media (max-width: 600px) {
  .lafabrik-title {
    font-size: var(--supHead-size);
  }
  .lafabrik-cards {
    flex-direction: column;
    gap: 18px;
    align-items: center;
  }
  .lafabrik-desc {
    font-size: clamp(0.95rem, 3vw, 1.1rem);
  }
  .lafabrik-card h3 {
    font-size: var(--font-size-body);
  }
  .lafabrik-card img {
    width: 120px;
  }
}
