.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* min-height: 70vh; */
  position: relative;
  overflow: hidden;
  padding: 4rem 0 0 0;
}
.heroContent {
  max-width: 700px;
  z-index: 2;
}
.heading {
  font-family: "Aparajita Bold";
  color: var(--primary-color);
  font-size: 120px;
  margin: 0;
  font-weight: 700;
}
.description {
  font-family: "CarmenSans-Bold";
  color: #22313f;
  font-size: 18px;
  margin: 1rem 0 3rem 0;
  line-height: 1.7;
}
.ctaBtn {
  background: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  padding: 1rem 3rem;
  font-weight: 600;
  font-family: "CarmenSans-Bold";
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}
.ctaBtn:hover {
  background: #a81a3a;
}
.heroImageWrapper {
  position: relative;
  z-index: 1;
}
.heroImage {
  margin-top: 4rem;
  width: 100%;
}
/* .bgImage {
  position: absolute;
  top: -30px;
  right: -140px;
  z-index: -1;
  pointer-events: none;
  } */
.heroSection::after {
  content: "";
  position: absolute;
  top: -30px;
  right: -140px;
  width: 400px;
  height: 400px;
  background: url("../../assets/png/background-sections.png") no-repeat;
  background-size: 350px;
  /* filter: blur(15px); */
}

@media (max-width: 1580px) {
  .heroSection {
    padding: 1rem 0 0 0;
  }
}
@media (max-width: 1500px) {
  .heroSection {
    padding: 1rem 0 0 0;
  }
}
