.missionWrapper {
  position: relative;
}
.missionWrapper::after {
  content: "";
  position: absolute;
  bottom: -150px;
  left: -90px;
  width: 250px;
  height: 250px;
  background: url("../../assets/png/background-sections.png") no-repeat;
  background-size: 250px;
  filter: blur(15px);
}
.missionsSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.5rem;
  margin-top: 6rem;
}
.imageWrapper {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.image {
  width: 100%;
  max-width: 420px;
  border-radius: 18px;
  object-fit: cover;
}
.content {
  flex: 2 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading {
  font-family: "CarmenSans-Bold";
  font-size: var(--font-size-h3);
  color: #22313f;
  font-weight: 700;
  margin-bottom: 5rem;
  line-height: 1.2;
}
.missionsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem 1.5rem;
}
.missionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.icon {
  margin-bottom: 1rem;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  font-family: "CarmenSans-Bold";
  font-size: 1.08rem;
  color: #22313f;
  line-height: 1.35;
}
@media (max-width: 1100px) {
  .image {
    width: 100%;
    max-width: 380px;
    border-radius: 18px;
    object-fit: cover;
  }
  .missionsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .text {
    font-family: "CarmenSans-Bold";
    font-size: 1rem;
    color: #22313f;
    line-height: 1.35;
  }
}
@media (max-width: 800px) {
  .missionsSection {
    flex-direction: column;
    gap: 2rem;
  }
  .imageWrapper {
    display: none;
    margin-bottom: 1.5rem;
  }
  .icon {
    margin-bottom: 0.5rem;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  .missionsGrid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
